# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

# Problem Statement::

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

# task::
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

# WORKFLOW ::

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

## Loding required lib

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import sklearn

In [2]:
carsdata=pd.read_csv('./Carprice_Dataset/CarPrice_Assignment.csv')


## Checking Missing Values

In [3]:
carsdata.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [8]:
carsdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
carsdata.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
carsdata['fueltype']=labelencoder.fit_transform(carsdata['fueltype'])
carsdata['aspiration']=labelencoder.fit_transform(carsdata['aspiration'])
carsdata['carbody']=labelencoder.fit_transform(carsdata['carbody'])
carsdata['drivewheel']=labelencoder.fit_transform(carsdata['drivewheel'])
carsdata['enginelocation']=labelencoder.fit_transform(carsdata['enginelocation'])
carsdata['fuelsystem']=labelencoder.fit_transform(carsdata['fuelsystem'])
carsdata['doornumber']=carsdata['doornumber'].map({'two':2,'four':4})

In [13]:
carsdata.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,1,0,2,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,1,0,4,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,1,0,4,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [14]:
carsdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    int64
 4   aspiration        205 non-null    int64
 5   doornumber        205 non-null    int64
 6   carbody           205 non-null    int64
 7   drivewheel        205 non-null    int64
 8   enginelocation    205 non-null    int64
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    int64
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(15), object(3)
memory usage: 41.8+ KB

In [15]:
car_data1=carsdata[['horsepower','boreratio','enginesize','curbweight','carwidth','carlength','wheelbase','drivewheel','price','enginelocation']]

In [16]:
print(car_data1.shape)
car_data1.head()

(205, 10)

,horsepower,boreratio,enginesize,curbweight,carwidth,carlength,wheelbase,drivewheel,price,enginelocation
0,111,3.47,130,2548,64.1,168.8,88.6,2,13495.0,0
1,111,3.47,130,2548,64.1,168.8,88.6,2,16500.0,0
2,154,2.68,152,2823,65.5,171.2,94.5,2,16500.0,0
3,102,3.19,109,2337,66.2,176.6,99.8,1,13950.0,0
4,115,3.19,136,2824,66.4,176.6,99.4,0,17450.0,0

In [17]:
x=(car_data1.loc[:, car_data1.columns !='price'])
y=(car_data1.loc[:, car_data1.columns =='price'])
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.30, random_state=42)

In [18]:
from tensorflow.keras import models
from tensorflow.keras import layers

def build_model():
    model = models.Sequential()
    model.add(layers.Dense(10, activation='relu',input_shape=(9,)))
    model.add(layers.Dense(8, activation='relu'))
    model.add(layers.Dense(6, activation='relu'))
    model.add(layers.Dense(1))
    model.compile (optimizer='rmsprop', loss='mse', metrics=['mae'])
    return model

In [19]:
import numpy as np

k=4
num_val_samples = len(x_train) // k
num_epochs = 100
all_scores = []
for i in range(k):
    print('processing fold #', i)
    val_car_data = x_train[i * num_val_samples: (i + 1) * num_val_samples]
    val_targets = y_train[i * num_val_samples: (i + 1) * num_val_samples]
    
    partial_train_data= np.concatenate(
    [x_train[:i * num_val_samples],
     x_train[(i + 1) * num_val_samples:]],
        axis=0)
    
    partial_train_targets = np.concatenate(
    [y_train[:i * num_val_samples],
     y_train[(i + 1) * num_val_samples:]],
        axis=0)
    
    model = build_model()
    model.fit(partial_train_data, partial_train_targets,
              epochs=num_epochs, batch_size=1, verbose=0)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

In [20]:
val_mse, val_mae = model.evaluate(val_car_data, val_targets)

all_scores.append(val_mae)

2/2 [==============================] - 0s 10ms/step - loss: 45966204.0000 - mae: 4625.0742

In [21]:
print(x_train.iloc[0,:])

horsepower          92.00
boreratio            3.31
enginesize         122.00
curbweight        2458.00
carwidth            66.50
carlength          175.60
wheelbase          102.40
drivewheel           1.00
enginelocation       0.00
Name: 177, dtype: float64

In [22]:
print(y_train[0:10])

       price
177  11248.0
75   16503.0
174  10698.0
31    6855.0
12   20970.0
35    7295.0
125  22018.0
42   10345.0
156   6938.0
136  18150.0

In [23]:
model.predict(x_train)

array([[12399.454 ],
       [15150.578 ],
       [12307.308 ],
       [ 9186.311 ],
       [14019.196 ],
       [10052.512 ],
       [14410.34  ],
       [11627.57  ],
       [10379.819 ],
       [14472.09  ],
       [11198.827 ],
       [ 9489.877 ],
       [16229.65  ],
       [11680.96  ],
       [12435.669 ],
       [14639.749 ],
       [ 9977.934 ],
       [10812.795 ],
       [ 9897.477 ],
       [14653.52  ],
       [14938.278 ],
       [15911.331 ],
       [14703.516 ],
       [ 9698.814 ],
       [13674.489 ],
       [10884.25  ],
       [14998.939 ],
       [11956.331 ],
       [10229.163 ],
       [10117.85  ],
       [17348.324 ],
       [12015.643 ],
       [ 9371.8   ],
       [13913.578 ],
       [12662.616 ],
       [ 9733.181 ],
       [12093.4375],
       [16153.9795],
       [10797.824 ],
       [14378.354 ],
       [11105.872 ],
       [14998.939 ],
       [14873.007 ],
       [10809.077 ],
       [14336.199 ],
       [ 9073.162 ],
       [15986.828 ],
       [11462.616 ],
       [15279.861 ],
       [12083.805 ],
       [12093.4375],
       [12131.944 ],
       [ 9567.184 ],
       [ 9847.376 ],
       [13740.866 ],
       [13029.371 ],
       [11102.463 ],
       [11132.226 ],
       [19030.154 ],
       [16143.158 ],
       [12201.724 ],
       [ 9374.073 ],
       [11518.14  ],
       [12733.054 ],
       [11910.221 ],
       [16022.639 ],
       [12733.044 ],
       [10812.795 ],
       [15075.596 ],
       [11382.852 ],
       [11784.202 ],
       [11588.922 ],
       [15117.863 ],
       [21203.99  ],
       [ 9766.464 ],
       [11261.664 ],
       [11712.45  ],
       [11018.417 ],
       [11831.612 ],
       [16646.258 ],
       [ 9699.174 ],
       [13620.502 ],
       [11146.182 ],
       [10570.551 ],
       [11229.667 ],
       [21648.219 ],
       [12091.576 ],
       [ 9807.612 ],
       [14890.074 ],
       [17092.463 ],
       [ 9612.947 ],
       [15113.671 ],
       [16270.705 ],
       [11439.259 ],
       [ 9478.038 ],
       [15670.29  ],
       [14275.058 ],
       [12015.644 ],
       [12194.766 ],
       [12468.326 ],
       [18349.02  ],
       [19188.45  ],
       [16236.564 ],
       [13677.21  ],
       [13903.686 ],
       [15632.953 ],
       [12155.097 ],
       [ 9722.389 ],
       [15024.001 ],
       [ 9443.355 ],
       [15689.547 ],
       [13145.407 ],
       [12650.275 ],
       [21203.99  ],
       [12245.096 ],
       [ 9371.8   ],
       [11834.773 ],
       [10440.295 ],
       [15370.772 ],
       [18381.074 ],
       [11272.63  ],
       [10510.075 ],
       [12789.053 ],
       [13029.371 ],
       [ 9513.137 ],
       [13342.798 ],
       [13022.074 ],
       [10103.237 ],
       [15942.869 ],
       [11810.857 ],
       [16278.502 ],
       [12245.096 ],
       [19891.887 ],
       [ 9897.422 ],
       [15450.    ],
       [ 9536.878 ],
       [11653.332 ],
       [19399.672 ],
       [16367.895 ],
       [15615.094 ],
       [ 9705.988 ],
       [15735.556 ],
       [17040.744 ]], dtype=float32)

In [24]:
myowndata=pd.read_csv('./Carprice_Dataset/myowndata.csv')

In [25]:
myowndata

,horsepower,boreratio,enginesize,curbweight,carwidth,carlength,wheelbase,drivewheel,enginelocation
0,103.0,4.0,152.0,3000.0,70.0,170.0,90.0,2.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
myowndata.drop(1,axis=0, inplace=True)

In [29]:
model.predict(myowndata)

array([[15198.22]], dtype=float32)